body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    gap: 0.5rem;

    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

form input {
    outline: none;
    padding: 0 0.2rem ;
    border-radius: 0.4rem;
    border: none;
    height: 1.7rem;
    width: 100%;
}

form input[type="submit"] {
    background-color: dodgerblue;
    cursor: pointer;
}